# dependencies
/node_modules

# source
/src
/examples

#configs
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
README.md
webpack.*

# misc
.DS_Store
.envs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

